{% extends "base.html" %}

{% load static %}

{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

<div class="" style="width:100%;">

<div class="w3-container w3-margin ">
    <div class=" w3-container  ">
            <div class="w3-panel   w3-bottombar w3-border-green">
              <h4 class="w3-right w3-tag w3-win8-emerald">Notice Form</h4>
                    <nav aria-label="breadcrumb ">
                      <ol class="">
                        
                        <li class="breadcrumb-item">
                          <a href="{% url 'central' %}">
                            <i class=""></i>
                            {% if user.is_admin %}
                            Back To Admin
                            {% endif %}

                            {% if user.is_teacher %}
                            Back To Staffroom
                            {% endif %}

                          </a>
                        </li>
                        <li class="breadcrumb-item active"> Create</li>
                      </ol>
                    </nav>
            </div>
      

               
            <div class="content-section">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-group ">
                        <legend class=" mb-4"></legend>
                        {{ form|crispy }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-info w3-block" type="submit">Post</button>
                    </div>
                </form>
            </div>


</div>

<br /><br />
</div>

{% endblock %}