{% load static %}

<div class="w3-container  w3-win8-crimson w3-border  w3-margin-top  ">
  <a href="{% url 'answer-create' %}" ><h4 class="w3-center w3-text-white w3-border w3-padding-16 w3-hover-shadow w3-hover-light-grey w3-hover-text-green"><i class="fa fa-suitcase w3-padding w3-small fa-fw w3-margin-right  w3-text-yellow w3-hide"></i>Assist your child to upload.. homework here</h4></a>

    <ol class="">
      <li>select the username of the child your assisting</li>
      <li>select the exercise done </li> 
    </ol>

  </div>
