<button onclick="myFunction('studentmessage')" class="w3-btn w3-block w3-margin-top   w3-large w3-win8-cobalt w3-left-align">Messages
    
</button>

<ol id="studentmessage" class="w3-container w3-hide">
{% for contactus in contactus %}
{% if contactus.myname.student_name.first_name == user.first_name %}
{% if contactus.teacher.name == contactus.teacher.name %}
<li onclick="document.getElementById('{{contactus.heading}}').style.display='block'" class="w3-border-bottom w3-border-blue"> {{contactus.heading}}</li>
     <br>

<div id="{{contactus.heading}}" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('{{contactus.heading}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        Teacher: {{ contactus.teacher.first_name }}| {{contactus.contact_date}}<br>
        Heading: {{contactus.heading}} <br>
        Message: {{contactus.message}}
      </div>
    </div>
  </div>


{% endif %}

{% endif %}
{% endfor %}
</ol>
<script>
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
</script>