{% load static %}

{% if user.is_grade8 %}

    <div class="w3-white w3-margin-top w3-hide-small">
            <ul class="w3-ul w3-hoverable w3-white">
                {% for answer in answers %}
                        {% if answer.exercise.is_grade8 %}   
                        {% if answer.name.student_name.first_name == user.first_name %}
                                {% if answer.name.student_name.first_name %}
                                  {% include 'partials/_answers.html' %}
                                {% endif %}
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
   
    
{% endif %}


<!--grade 7-->
{% if user.is_grade7 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade7 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %}    
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}

<!--grade 6-->
{% if user.is_grade6 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade6 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}

<!--grade 5-->
{% if user.is_grade5 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade5 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}

<!-- grade 4 -->
{% if user.is_grade4 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade4 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}


<!-- grade 3 -->
{% if user.is_grade3 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade3 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %}     
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}
 

<!-- grade 2 -->
{% if user.is_grade2 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.exercise.is_grade2 %}   
                            {% if answer.name.first_name %}
                                {% include 'partials/_answers.html' %}
                            {% endif %}   
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}

<!-- grade 1-->
{% if user.is_grade1 %}

    <div class="w3-white w3-margin-top w3-hide-small">

            <ul class="w3-ul w3-hoverable w3-white">
                    {% for answer in answers %}
                        {% if answer.name.first_name %}
                            {% include 'partials/_answers.html' %}
                        {% endif %} 
                    {% endfor %}
                </ul>
        </div>
    
{% endif %}