{% load static %}

    <div class="w3-white w3-text-grey w3-border {{grade.color.border_color }} w3-margin-bottom">
        <div class="w3-display-container">
        
        {% if grade.classteacher.image %}
        <img src="{{ grade.classteacher.image.url }}" style="width:100%; height: 180px;" alt="Avatar">
        {% endif %}

        <div class="w3-display-bottomleft w3-orange w3-block w3-opacity w3-container ">
            <h4> {{grade.classteacher.first_name}} {{grade.classteacher.last_name}}</h4>
        </div>
        </div>
        <div class="w3-container w3-border w3-padding ">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-purple"></i>{{grade.classteacher.title}}</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-green"></i>{{grade.classteacher.home}}</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>{{grade.classteacher.email}}</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>{{grade.classteacher.phone}}</p>
       
        </div>
    </div>
