{% load static %}
<div class="w3-container w3-white w3-border w3-margin-top  ">
    <h2 class="w3-text-grey  w3-padding-16"><i class="fa fa-star fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Revisit Past Classes</h2>
    <div class="w3-container">
    <ol>
      <li class="w3-opacity"><b>Mathematics</b></li>
      <li class="w3-opacity"><b>English</b></li>
      <li class="w3-opacity"><b>Kiswahili</b></li>
      <li class="w3-opacity"><b>Composition</b></li>
      <li class="w3-opacity"><b>Insha</b></li>
      <li class="w3-opacity"><b>Social Studies</b></li>
      <li class="w3-opacity"><b>Science</b></li>
      <li class="w3-opacity"><b>CRE</b></li>
    </ol>
      <hr>
    </div>
  </div>
