<div onclick="myFunction('{{subject}}')" class="w3-btn w3-block w3-text-green  w3-border-bottom w3-hover-border-bottom-orange w3-left-align" style="cursor:pointer"><strong>{{subject|capfirst}}</strong></div>

    
    <ol  class="w3-hide" id="{{subject}}">
        {% for topic in subject.topic_set.all %}
        <div onclick="myFunction('{{topic}}')" class="w3-border-left w3-left-align w3-text-blue" style="cursor:pointer">{{topic}}</div>
           
                <li id="{{topic}}" class="w3-hide">
                    <ul class="w3-bar w3-text-black" >
                        {% for lesson in topic.lesson_set.all %}
                        <a href="{{ lesson.get_absolute_url}}">
                            <li class="w3-border-bottom w3-border-green" style="cursor:pointer">
                            
                                {{lesson}} 
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </li>       
            
        {% endfor %}
            </ol>

<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>