#header {
    height: 50px;
    background: #0ae8f0;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#2655f0fd;
  }
  
  div.breadcrumbs {
    background: #003036;
    color: #fff;
  }
  
  div.breadcrumbs a {
    color:  #f08126fd;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #003036;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #0ae8f0;
    color: #fff;
  }