{% for about in abouts %}
        <div class="banner-btm-wthree w3-flat-midnight-blue">
            <div class="container">
                <div class="w3-small  w3-hide-large w3-hide-medium">
					
					<span><a href="#about" class="scroll w3-margin-right w3-card-4 w w3-flat-midnight-blue w3-text-white">|About</a></span>
					<span><a href="#team" class="scroll w3-margin-right w3-card-4  w3-flat-midnight-blue w3-text-white">|Leadership</a></span>
					<span><a href="#services" class="scroll w3-margin-right w3-card-4  w3-flat-midnight-blue w3-text-white">|Services</a></span>
					<span><a href="#clients" class="scroll w3-margin-right w3-card-4  w3-flat-midnight-blue w3-text-white">|Parents</a></span>
					<span><a href="#gallery" class="scroll  w3-card-4  w3-flat-midnight-blue w3-text-white">|Gallery</a></span>
					
				</div>
            <h1 class="subheading-agileits-w3layouts w3-xlarge">Start <span>Improving</span> Your Childs Education Today!</h1>
            <p>Our School is one of the Online leading Schools in Kenya today.</p>
            <div class="button-w3ls"><a href="#contact" class="scroll">Contact Us</a></div>
            <div class="clearfix"> </div>
            </div>
        </div>
{% endfor %}