<div class="banner-top-w3-agile w3-flat-midnight-blue  w3-opacity-min">
	<ul>
		<li class="w3-black w3-opacity-min w3-hover-orange"><p class="w3-small">Discipline</p><span>We  Practice</span></li>
		<li class="w3-black w3-opacity-min w3-hover-orange w3-hide-small"><p class="w3-small">Smart Hardwork</p><span>we work hard, we work smart, we succeed</span></li>
		<li class="w3-black w3-opacity-min w3-hover-orange"><p class="w3-small">Knowledge</p><span>Quest  </span></li>
        
        <a href="{% url 'central' %}">
        <li class="w3-orange w3-opacity-min w3-hover-green w3-wide w3-text-white"><p class="w3-small">Members Area</p><span class="w3-text-white">Welcome</span></li></a>
	</ul>
</div>